<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tweet.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<p>
  <% if @tweet.images.attached? %>
    <strong>images:</strong>
    <% @tweet.images.each do |image| %>
      <%= image_tag image %> <br>
    <% end %>
  <% end %>
</p>

<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
